* {
    border: none;
    border-radius: 0;
    font-family: curie;
    font-size: 12px;
}

window {
    background: #1472b3;
    opacity: 0.75;
    border: none;
    color: white;
}

window.urgency-critical {
    background: #d92817;
}

label {
    padding: 10px;
}
