* {
    border: none;
    border-radius: 0;
    font-family: curie;
    font-size: 12px;
}

window {
    background: #1472b3;
    opacity: 1;
    border: solid 2px #111;
    color: white;
}

window.urgency-low {
    background: #111;
    border: solid 2px #1472b3;
}

window.urgency-critical {
    background: #d92817;
    border: solid 2px #EEE;
}

image.icon {
    padding: 20px;
}

label {
    padding: 10px;
}
