nope {
    border: none;
    border-radius: 0;
    font-family: curie;
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 0px;
}

window {
    background-image: url('/home/topisani/.config/wallpaper.jpg');
    background-position: center;
    background-size: contain;
    border: none;
    color: white;
}

.clock-widget {
    padding: 0px 10px;
    min-height: 0px;
    font-size: 10em;
    padding-bottom: 50px;
    color: black;
}
